.d-flex {
    
    width: 300px;
    display: flex;
    justify-content:right; /* Opzione A: Spazia gli elementi agli estremi */
    align-items:center;
    margin-left: 800px;
    padding-bottom: 10px;
}
