<div class="container-fluid px-0">
  <nav class="navbar navbar-dark bg-primary px-3">

    <button class="btn btn-light" (click)="toggleSidenav()">
      <span *ngIf="!isOpen" class="bi bi-list"></span>
      <span *ngIf="isOpen" class="bi bi-x"></span>
    </button>

    <button class="bi bi-book" routerLink="/home"></button>

    <button class="avatar" *ngIf="(user$ | async) as user; else noUser">
      {{ getInitials(user.name, user.surname) }}
    </button>
    <ng-template #noUser>
      <button class="avatar"></button>
    </ng-template>
    
  </nav>
</div>