.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #3f51b5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  transition: all 0.3s ease;

  &:hover {
    background-color: #303f9f;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  .dropdown-menu{
    
  }

  .dropdown {
    justify-content: start;
    align-items: start;
  }

}
