<div class="auth-page">
    <section class="auth-visual">
        <div class="quote-box">
            <div class="quote-mark">“</div>

            <p>
                Sono convinto che l’informatica abbia molto in comune con la fisica.
                Entrambe si occupano di come funziona il mondo a un livello abbastanza fondamentale.
                La differenza, naturalmente, è che mentre in fisica devi capire come è fatto il mondo, in informatica
                sei tu a crearlo.
                Dentro i confini del computer, sei tu il creatore. Controlli – almeno potenzialmente – tutto ciò che vi
                succede.
                Se sei abbastanza bravo, puoi essere un Dio. Su piccola scala.
            </p>
            <div class="quote-mark position-right">”</div>
            <strong>Linus Torvalds</strong>
        </div>
    </section>

    <section class="auth-content">
        <div class="brand">
            <div class="brand-icon">✺</div>
            <span>Quizzettone</span>
        </div>

        <div class="auth-card">
            <router-outlet></router-outlet>
        </div>
    </section>
</div>