<div class="container py-4">
    <div class="card-custom mx-auto" style="max-width: 900px;" [formGroup]="form">
        <h3>Inserisci una domanda:</h3>

        <!-- DOMANDA -->
        <label class="mb-2 text-muted small">DOMANDA</label>
        <textarea class="textarea-custom w-100 mb-3" formControlName="description"
            placeholder="Scrivi la domanda..."></textarea>

        @if (form.get('description')?.invalid && form.get('description')?.touched) {
        <div class="text-danger small mb-3">
            La domanda è obbligatoria
        </div>
        }

        <section class="d-flex justify-content-end">
            <select class="form-select mb-3" formControlName="type">
                <option value="SINGOLA">Singola</option>
                <option value="MULTIPLA">Multipla</option>
                <option value="VEROFALSO">Vero-Falso</option>
            </select>
        </section>

        <!-- RISPOSTE -->
        <div class="d-flex flex-column gap-2 mb-3" formArrayName="answers">
            @for (answer of answers.controls; track answer; let i = $index) {
            <div [formGroupName]="i" class="answer-row" [class.correct]="answer.get('correct')?.value"
                [class.uncorrect]="!answer.get('correct')?.value">

                <strong>{{answer.value.label}}</strong>

                @if (isTrueFalse) {
                <input class="input-custom flex-grow-1" formControlName="description" readonly />
                }
                @else {
                <input class="input-custom flex-grow-1" formControlName="description"
                    placeholder="Scrivi risposta..." />
                }

                @if (!isTrueFalse && i > 3) {
                <span class="text-danger pointer" (click)="removeAnswer(i)">✖</span>
                }

                @if (isSingle || isTrueFalse) {
                <input type="radio" [checked]="answer.get('correct')?.value" (change)="setCorrect(i)" />
                }

                @if (isMultiple) {
                <input type="checkbox" formControlName="correct" (change)="form.updateValueAndValidity()" />
                }
            </div>
            }
        </div>

        <!-- ADD -->
        @if (isSingle || isMultiple) {
        <button class="border add-answer mb-5 d-block" (click)="addAnswer()">
            + Aggiungi risposta
        </button>
        }

        <!-- CONFIG -->
        <div class="btn-group mb-2 mt-3" role="group">
            <input type="radio" class="btn-check" name="categoryMode" id="selectCategory" autocomplete="off"
                formControlName="categoryMode" value="select">
            <label class="btn btn-outline-primary" for="selectCategory">Seleziona categoria</label>
            <input type="radio" class="btn-check" name="categoryMode" id="addCategory" autocomplete="off"
                formControlName="categoryMode" value="input">
            <label class="btn btn-outline-primary" for="addCategory">Aggiungi categoria</label>
        </div>


        <div class="row g-3 mb-4">
            <div class="col-md-6">
                <label><strong>Categoria:</strong></label>
                @if (categoryMode === 'select') {
                <select class="form-select" formControlName="category">
                    <option [ngValue]="null">Seleziona una categoria</option>

                    @for (category of categories; track category.id) {
                    <option [ngValue]="category">
                        {{ category.name }}
                    </option>
                    }
                </select>
                }
                @else {
                <input class="input-custom w-100" formControlName="categoryInput" placeholder="Categoria" />
                }
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <label><strong>Tag:</strong></label>
            <input class="input-custom w-100" formControlName="tag" placeholder="Tag" />
        </div>

        <!-- ACTIONS -->
        <div class="d-flex justify-content-end gap-2">
            <button class="btn-secondary-custom" (click)="submit('BOZZA')">BOZZA</button>
            <button class="btn-primary-custom" (click)="submit('CONFERMA')">CONFERMA</button>
        </div>


        <!-- PREVIEW        
        <div class="logic-box mt-4">
            <div class="fw-semibold mb-2">STATO LOGICO</div>

            @for (answer of answers.value; track answer.id) {
            <div>
                {{answer.label}} - {{answer.text}}
                @if (answer.correct) {
                <span class="badge-success">Corretta</span>
                }
            </div>
            }
        </div> -->

    </div>
</div>